*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#1ecdb6;
    padding:20px;
}

.contenedor{
    max-width:1200px;
    margin:auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

h2{
    margin-bottom:20px;
    color:#0b2c81;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#50eb25;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#26d81d;
}

.boton{
    display:flex;
    align-items:end;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#2563eb;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.totales{
    display:flex;
    justify-content:flex-end;
}

.box-total{
    width:350px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.box-total h3{
    margin-bottom:15px;
}

.linea{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    gap:10px;
}

.eliminar{
    background:red;
}

.eliminar:hover{
    background:darkred;
}

@media(max-width:900px){

    .grid{
        grid-template-columns:1fr;
    }

}
.menu{
    background:#1f3c88;
    padding:15px;
    display:flex;
    gap:10px;
    margin-bottom:20px;
    border-radius:10px;
}

.menu button{
    background:white;
    color:#1f3c88;
    font-weight:bold;
}

.oculto{
    display:none;
}